@import '../variables';
@import '../mixins';

.modal {
  @include flexCenter;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $modal-overlay;

  &-content {
    background-color: $background-color;
    margin: auto;
    padding: $spacing-xl;
    border: 1px solid $secondary-color;
    width: 80%;
  }
}

.close {
  color: $secondary-color;
  float: right;
  font-size: 28px;
  font-weight: bold;

  &:hover,
  &:focus {
    color: $primary-color;
    text-decoration: none;
    cursor: pointer;
  }
}