@import '../variables';
@import '../mixins';

.dish-list {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-lg;
    justify-content: center; /* Центрирование карточек */
}

.dish-card {
    &-link {
        text-decoration: none;
        color: inherit;
        flex: 0 1 $card-width; /* Фиксированная ширина карточки */
        max-width: $card-width;
    }

    &:hover {
        transform: scale(1.05);
    }

    width: 100%; /* Обеспечивает фиксированную ширину карточки */
    box-sizing: border-box;
    @include card;
    @include transition;
    @include flexCenter;
    flex-direction: column;
    align-items: center;

    img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }

    h3 {
        margin: $spacing-sm 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        max-width: 250px; /* Ограничение ширины заголовка */
    }
}

.error-message {
    color: red;
    text-align: center;
    padding: $spacing-lg;
    margin: $spacing-lg;
    border: 1px solid red;
    border-radius: 8px;
}